{% load static %}
<div class="max-h-96 overflow-y-auto">

    {% for conv in nav_conversations %}
    <a href="{% url 'messaging:conversation_detail' conv.id %}"
    class="flex items-center gap-3 px-4 py-3 hover:bg-gray-100 dark:hover:bg-dark-third">

        <img src="{{ other_user.profile.picture.url }}"
            class="w-10 h-10 rounded-full" alt="mensajes">

        <div class="flex-1">
            <p class="font-semibold text-sm dark:text-dark-txt">
                {{ conv.other_user.username }}
            </p>

            {% if conv.last_message %}
            <p class="text-xs text-gray-500 truncate">
                {{ conv.last_message.body|truncatechars:30 }}
            </p>
            {% endif %}
        </div>
    </a>
    {% endfor %}


</div>

<div class="border-t text-center">
    <a href="{% url 'messaging:inbox' %}"
       class="block py-2 text-sm text-blue-500 hover:bg-gray-50 dark:hover:bg-dark-third">
        Ver todos los mensajes
    </a>
</div>

