{% extends 'base.html' %}
{% load static %}


{% block title %}Homepage{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- NAVBAR -->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

 {% block content %}
 <div class="flex items-center mb-3">
                <img
                    src="{% static 'img/mascotas.png' %}"
                    class="w-full max-w-md h-auto object-contain rounded"
                    alt="mascotas">
</div>
{% endblock content %}


<!-- footer -->
 {% block footer %}
 {% include 'components/footer.html' %}
 {% endblock footer %}

 {% block javascript %}
 <script src="{% static 'js/theme-toggle.js' %}"></script>
 {% endblock javascript %}