{% load static %}
<div class="bg-white dark:bg-dark-second rounded-lg shadow hover:shadow-md transition
                overflow-hidden flex flex-col">
        
        <!-- Image -->
        <div class="h-40 bg-gray-200 dark:bg-dark-third">
            {% if item.image %}
                <img src="{{ item.image.url }}"
                     alt="{{ item.title }}"
                     class="w-full max-w-md h-auto object-contain rounded">
            {% else %}
                <img src="{% static 'img/placeholder-store.jpg' %}"
                     alt="Item"
                     class="w-full max-w-md h-auto object-contain rounded">
            {% endif %}
        </div>

        <!-- Content -->
        <div class="p-3 flex flex-col flex-1">

            <h3 class="font-semibold text-sm dark:text-dark-txt line-clamp-2">
                {{ item.title }}
            </h3>

            <p class="text-sm font-semibold text-blue-500 mt-1">
                ${{ item.price }}
            </p>

            <p class="text-xs text-gray-500 dark:text-dark-txt mt-1">
                {{ item.location }}
            </p>

            <p class="text-sm text-gray-600 dark:text-dark-txt mt-2 line-clamp-2">
                {{ item.description }}
            </p>

            <div class="mt-auto pt-3">
                {% if request.user != item.author %}
                    {% include "components/messages/start_chat_button.html" with target_user=item.author %}
                {% endif %}
                    </a>
            </div>
 <!-- MENU -->
            <div class="flex justify-end p-2">
                {% include "components/menus/store_item_menu.html" with item=item %}
            </div>
        </div>
    </div>